.contact {
  background-color: #2879fe;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;

  .wrapper {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mail {
      width: 50%;
      display: flex;
      justify-content: center;
    }

    input {
      padding: 10px;
      border: none;
      border-radius: 5px 0 0 5px;
      width: 50%;

      &:focus {
        background-color: rgb(243, 243, 243);
        color: black;
      }
    }

    button {
      padding: 10px;
      color: white;
      background-color: #333;
      border-radius: 0 5px 5px 0;
      border: none;

      &:hover {
        color: #333;
        background-color: white;
      }

      &:active {
        color: white;
        background-color: #333;
      }
    }

    .icons {
      display: flex;
      gap: 10px;
    }
  }
}
